<!doctype html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content="119237900331-lb7fm3avtdsa8cbhkbe4n7k5ilmpgskr.apps.googleusercontent.com">
  <title>Spiffy+</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/penguin/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/penguin/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/penguin/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/penguin/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/penguin/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/penguin/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/penguin/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/penguin/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/penguin/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/penguin/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/penguin/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/penguin/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/penguin/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/penguin/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicon/penguin/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"></script>
   <!-- Leaflet -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
   <!-- Leaflet Maki Markers -->
   <script src="js/leaflet-maki.js"></script>
  <!--CSS - Skeleton & Custom CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
  <body>


  <!-- Handlebars Body -->
  {{{ body }}}

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <!-- Codebird -->
  <script type="text/javascript" src="js/codebird.js"></script>
  <!-- Google Authentication -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <!-- Google Maps (Autocomlete)-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSAYHZn9fz13c3bsl_RcS13HJu8wDJXCU&libraries=places"></script>
  <!-- MapBox -->
  <script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-supported/v1.3.0/mapbox-gl-supported.js'></script>
  <script type="text/javascript" src="js/geojson.min.js"></script>
  <!-- Tippy -->
  <script src="https://unpkg.com/tippy.js@2.4.0/dist/tippy.all.min.js"></script>
  <!-- Custom JS -->
  <script type="text/javascript" src="js/map.js"></script>
  <script type="text/javascript" src="js/map-data.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
