<!doctype html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content="119237900331-lb7fm3avtdsa8cbhkbe4n7k5ilmpgskr.apps.googleusercontent.com">
  <title>Spiffy+</title>
  <!-- Favicon -->
  <!-- Fonts -->
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"></script>
	<!--CSS - Skeleton & Custom CSS -->
	<link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
  <body>
    <!-- Handlebars Body -->
    {{{ body }}}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<!-- Codebird -->
		<script type="text/javascript" src="js/codebird.js"></script>
    <!-- Google Authentication -->
    {{!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> --}}
    <!-- Google Maps (Autocomlete)-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSAYHZn9fz13c3bsl_RcS13HJu8wDJXCU&libraries=places">
	</script>
     <!-- MapBox -->
     <script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-supported/v1.3.0/mapbox-gl-supported.js'></script>
    <script>


</script>
		<!-- Custom JS -->
    {{!-- <script src="js/bundle.js"></script> --}}
    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="js/map-data.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

  </body>
</html>
