/******************************* OVERALL STYLES ******************************/
html,
body {
  font-family: Helvetica;
  font-weight: 100;
  text-align: center;
}

p {
  margin-bottom: 5px;
}

/******************************* NAVBAR STYLES ******************************/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c92b7;
  font-size: 1.2em;
}

nav ul li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.googleBtn {
  cursor: pointer;
  float: right;
}

/******************************* TIPPY BUTTONS ******************************/
.tippyTip {
  font-size: 16px;
}

.tippy-btn {
      position: relative;
      transition-duration: 0.3s;
      border: none;
      border-radius: 4px;
}

.tippy-btn::after {
      border-radius: 4px;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      border: 1px solid rgb(187,187,187);
      top: 0px;
      right: 0px;
      border-bottom-width: 1px;
      transition: border-bottom-width 0.1s 0.2s, height 0.2s 0.1s, width 0.2s 0s, margin 0.2s 0s;
}

.tippy-btn:hover::after {
      border-radius: 4px;
      width: 60%;
      height: 0px;
      border-width: 2px 2px 0px;
      margin: 0px 20%;
      transition: border-bottom-width 0.1s 0s, height 0.2s 0.1s, width 0.2s 0.2s, margin 0.2s 0.2s;
}

/************************ HEADERS AND INTERSTITIALS ***************************/
.header,
.interstitial {
  background: #2c92b7;
  height: 42vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.penguin-img {
  height: 27vh;
  display: inline;
  padding-right: 30px;
}
.header h1 {
  color: white;
  font-size: 27vh;
  margin: 0;
  display: inline-block;
}

.header h1 span {
  color: #ffb732;
}

.header p {
  color: white;
  font-size: 2rem;
}

.interstitial {
  height: 25vh;
}

.interstitial h1 {
  font-size: 10rem;
  color: white;
  padding-top: 5vh;
}

/******************** CURRENT PROJECTS DIV (MAP & ISSUE LIST) *****************/
.current-project-info {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-column-gap: 10px;
}

/***** MAP *****/
#map-container {
  margin: 0 auto;
}

#map {
  width: 80%;
  height: 400px;
  margin: 0 auto 20px auto;
  /* overflow: visible; */
}

.marker {
  background-image: url("../images/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/***** ISSUES ****/
.issues {
  padding-bottom: 20px;
}

.issue {
  margin: 9px;
  border: 1px solid #135679;
  background: #1b89b7;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  color: white;
  font-size: 1.8rem;
}

.issue:hover {
  background: #126182;
}

.issue-title {
  padding: 2px;
  font-size: 1.5em;
  display: block;
}



/*MODALS*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:999;
    overflow: auto;
    background-color: rgb(50,69,82);
    background-color: rgba(50,69,82,0.5);
}

.issue-body, .form-success, .google-failure {
  background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 500px;
   border-radius: 5px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 25px;
}

.form-success, .google-failure {
  grid-template-columns: 1fr;
}

.issue-img {
  width: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.issue-img-div {
  justify-self: end;
}

.issue-body .issue-title {
  font-size: 2em;
  grid-column: span 2;

}

.issue-details {
  justify-self: start;
  text-align: left;
}

.issue-details p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.signIn-modal {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.close-btn {
  background: #ccc;
  padding: 2px 5px;
  margin-left: 92%;
  width: 5%;
}

.close-btn:hover {
  color:#fff;
  cursor: pointer;
}


/***** VOTE BUTTONS ******/
.vote-btn {
  padding: 0px 5px;
  border: none;
  font-size: 2em;
}

.svg-inline--fa.fa-w-16 {
    width: 3em;
}

/***** CLOSE ISSUE BUTTON *****/
.close-issue-btn {
  display: none;
}

/***** CLOSE MODAL BUTTON *****/
.close {
  display: block;
  margin: 0 auto;
  grid-column: span 2;
}

/********************************* FORM ***************************************/
form {
  text-align: left;
}

.error-message {
  color: red;
}

/******************************* FOOTER STYLES ******************************/
.footer-distributed {
	background-color: lightgray;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	font: bold 16px sans-serif;
	margin-top: 80px;
	padding: 55px 50px;
	text-align: left;
  width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
	display: inline-block;
  vertical-align: top;
}

.footer-left {
  width: 40%;
}

.footer-distributed h3 {
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color:  #5383d3;
}

/* Footer links */

.footer-links {
	color:  #ffffff;
	margin: 20px 0 12px;
  padding: 0;
}

.footer-links a {
	color: inherit;
	display:inline-block;
	line-height: 1.8;
  text-decoration: none;
}

.footer-company-name {
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-center {
  width: 35%;
}

.footer-center i {
	background-color:  #33383b;
	border-radius: 50%;
	color: #ffffff;
	font-size: 25px;
	height: 38px;
	line-height: 42px;
	margin: 10px 15px;
	text-align: center;
	vertical-align: middle;
  width: 38px;
}

.fa-envelope {
	font-size: 17px;
  line-height: 38px;
}

.footer-center p {
	color: #ffffff;
	display: inline-block;
	margin: 0;
  vertical-align: middle;
}

.footer-center p span {
	display:block;
	font-weight: normal;
	font-size: 14px;
  line-height: 2;
}

.footer-center p a {
	color:  #5383d3;
  text-decoration: none;
}


.footer-right {
  width: 20%;
}

.footer-company-about {
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
  margin: 0;
}

.footer-company-about span {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
  margin-bottom: 20px;
}

.footer-icons {
  margin-top: 25px;
}

.footer-icons a {
	background-color:  #33383b;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	height: 35px;
  line-height: 35px;
  margin-bottom: 5px;
	margin-right: 3px;
	text-align: center;
  width: 35px;
}

@media (max-width: 880px) {

	.footer-distributed {
    font: bold 14px sans-serif;
  }

	.logo {
    height: 30vh !important;
  }

	.footer-left,
	.footer-center,
	.footer-right {
		display: block;
		margin-bottom: 40px;
		text-align: center;
    width: 100%;
  }

	.footer-center i {
    margin-left: 0;
  }

	.footer-center p{
    font-size: 12px;
  }
}
