html, body {
  font-family: Helvetica;
  font-weight: 100;
  text-align: center;
}
/* Headers and Interstitials */
.header, .interstitial {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url("../images/interstitial.jpg");
  height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 20px;
}

.interstitial {
  height: 25vh;
}

.header h1 {
  color: white;
  font-size: 15rem;
  margin: 0;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.header p {
  color: white;
  font-size: 2rem;
}

.interstitial h1 {
  font-size: 10rem;
  color: white;
}

/* Map */
.map img{
  height: 100vh;
}

/*Issue List */
.issues {
  padding-bottom: 20px;
}

.issue {
  margin: 10px;
  border: 1px solid grey;
  background: #eaeaea;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.issue-title {
  padding: 2px;
  font-size: 1.5em;
  display: block;
}

.issue-votes, .issue-status {
  display: block;
}

.issue-status {
  display: inline-block;
}

.issue span {
  padding-left: 10px;
}

/*Form */

form {
  text-align: left;
}
